<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Add Initial Perfume Data</title>
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
   </head>
   <body class="w3-light-grey">
      <!-- Main Container -->
      <div class="w3-container w3-card-4 w3-white w3-padding-large w3-round-large" style="max-width: 500px; margin: 50px auto;">
         <h1 class="w3-center w3-text-dark-grey">Perfumes Collection - Add Initial Data</h1>
         <p class="w3-center w3-text-red">Please confirm you want to add initial perfumes to the collection</p>
         <hr class="w3-border-grey">

         {% for category, message in get_flashed_messages(with_categories=true) %}
            <div class="w3-panel w3-green w3-border w3-border-red w3-round w3-padding-small">{{ message }}</div>
         {% endfor %}

         <!-- Confirmation Form -->
         <form action="{{ request.path }}" method="post" class="w3-container">
            <button type="submit" class="w3-button w3-dark-grey w3-hover-grey w3-round w3-block w3-padding-large">Confirm that you wish to add Data</button>
         </form>

         <!-- Return Button -->
         <div class="w3-center w3-margin-top">
            <a href="{{ url_for('opening2') }}" class="w3-button w3-dark-grey w3-hover-grey w3-round w3-padding-large">Return to Opening Page</a>
         </div>
      </div>
   </body>
</html>
